<div class="row justify-content-center my-5">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center"><%=title%></h3>
          <form name="frm">
            <input name="email" class="form-control mb-2" value="blue@test.com">
            <input name="pass" type="password" class="form-control mb-2" value="12341234">
            <button class="w-100 btn btn-primary">회원가입</button>
            <div class="text-end mt-3">
                <a href="/users/login">로그인</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="module">
    import {app} from '/javascripts/config.js';
    import {getAuth,  createUserWithEmailAndPassword} from "https://www.gstatic.com/firebasejs/10.13.2/firebase-auth.js";
    const auth = getAuth(app);

    $(frm).on("submit", function(e){
      e.preventDefault();
      const email=$(frm.email).val();
      const pass = $(frm.pass).val();

      createUserWithEmailAndPassword(auth, email, pass).then(success=>{
        alert("사용자 이메일이 등록되었습니다.")
        location.href="/users/login";
      }).catch(error=>{
        alert(error.message);
      });
    });
  </script>