<div>
    <h1 class="text-center my-5"><%=title%></h1>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <form name="frm" class="input-group">
                <input name="query" value="인하대학교" class="form-control">
                <button type="submit" class="btn btn-primary">검색</button>
            </form>
        </div>
    </div>
    <div id="div_list"></div>
    <div class="text-center">
        <button id="prev" class="btn btn-primary btn-sm px-3">이전</button>
        <span id="page" class="mx-3">1</span>
        <button id="next" class="btn btn-primary btn-lg">다음</button>
    </div>
    <script id="temp_list" type="x-handlebars-template">
        <table class="table ">
            {{#each documents}}
                <tr>
                    <td><a href="{{url}}">{{{title}}}</td>
                    <td>{{blogname}}</td>
                </tr>
            {{/each}}
        </table>
    </script>
</div>
<script>
    let query = "인하대학교";
    let page = 1;
    let size = 10;

    getList();

    $("#next").on('click', function(){
        page++;
        getList();
    });

    $("#prev").on('click', function(){
        page--;
        getList();
    });

    $(frm).on("submit", function(e){
        e.preventDefault();
        query=$(frm.query).val();
        if(query==""){
            alert("검색어를 입력하세요.");
        } else{
            getList();
        }
    });

    function getList(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v2/search/blog",
            data:{query, page, size},
            headers : {
                "Authorization" : "KakaoAK 9582b33bad4e78648a51f4bd37c08d3d"
            },
            success:function(data){
                console.log(data);
                const temp = Handlebars.compile($("#temp_list").html());
                $("#div_list").html(temp(data));
                const last = Math.ceil(data.meta.pageable_count/size);
                $("#page").html(`${page} / ${last}`);
                if(page==1){
                    $("#prev").attr("disabled", true);
                } else {
                    $("#prev").attr("disabled", false);
                }
                if(data.meta.is_end){
                    $("#next").attr("disabled", true);
                } else {
                    $("#next").attr("disabled", false);
                }
            }
        });
    }
</script>