<div class="row justify-content-center">
    <div class="col-md-10">
        <textarea id="contents" class="form-control mb-2" rows="5" placeholder="리뷰내용을 입력하세요"></textarea>
        <button id="write" class="btn btn-primary px-5">리뷰등록</button>
        <div id="div_review" class="mt-5"></div>
    </div>
</div>
<script id="temp_review" type="x-hadlebars-template">
    {{#each .}}
        <div style="font-size:12px;color:gray;">{{email}} | {{date}} </div>
        <div class="ellipsis3 contents" style="cursor:pointer">{{contents}}</div>
        <div class="text-end" style="{{funHide email}}">
            <button class="btn btn-danger btn-sm delete" id="{{id}}">삭제</button>
        </div>
        <hr>
    {{/each}}
</script>
<script>
    Handlebars.registerHelper("funHide", function(writer){
        if(email != writer){
            return "display:none;"
        }
    });
</script>
<script type="module">
    import { app } from '/javascripts/config.js';
    import { getFirestore, collection, addDoc, doc, deleteDoc} from "https://www.gstatic.com/firebasejs/11.0.0/firebase-firestore.js";
    import { onSnapshot, where, orderBy, query} from "https://www.gstatic.com/firebasejs/11.0.0/firebase-firestore.js";
    const db = getFirestore(app);
    const isbn = "<%=info.isbn%>";


    $("#div_review").on("click", ".contents", function(){
        $(this).toggleClass("ellipsis3");
    })
    $("#div_review").on("click", ".delete", async function(){
        const id=$(this).attr("id");
        if(confirm(`${id}번 리뷰를 삭제하시겠습니까?`)){
           await deleteDoc(doc(db, `review/${id}`));
           alert("리뷰삭제 완료")
        }
    });
    const q=query(collection(db, "review"), where("isbn","==", isbn), orderBy("date", "desc"));
    onSnapshot(q, snapshot=>{
        let rows=[];
        snapshot.forEach(row=>{
            rows.push({id:row.id, ...row.data()});
        });
        console.log(rows);
        const temp = Handlebars.compile($("#temp_review").html());
        $("#div_review").html(temp(rows));
    })

    if(uid){
        $("#contents").show();
    }else{
        $("#contents").hide();
    }

    $("#write").on("click", async function(){
        if(uid){
            //review
            const contents=$("#contents").val();
            if(contents==""){
                alert("리뷰내용을 입력해주세요");
                $("#contents").focus();
            }else{
                //리뷰등록
                const date=moment(new Date()).format("YYYY-MM-DD HH:mm:ss");
                await addDoc(collection(db, "review"), {isbn, email, date, contents});
                $("#contents").val("");
            }
        }else{
            sessionStorage.setItem("target", window.location.href);
            location.href="/users/login";
        }
    });
</script>