<div class="my-5 row justify-content-center">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="col-10">
        <div class="text-end mb-2 buttons" style="display: none;">
            <button class="btn btn-success btn-sm update">수정</button>
            <button class="btn btn-danger btn-sm delete">삭제</button>
        </div>
            <div class=" card-body">
                <h5 id="title">제목</h5>
                <hr>
                <div id="contents" style="white-space: pre-wrap;">내용</div>
            </div>
            <div class="card-footer">
                Posted By <span id="email" style="color: blueviolet;">email</span> 
                on <span id="date">2024.11.23</span>

            </div>
            <%-include("reply.ejs")%>
    </div>
</div>

<script type="module">
    import { app } from '/javascripts/config.js';
    import { getFirestore, doc, getDoc, deleteDoc} from "https://www.gstatic.com/firebasejs/11.0.0/firebase-firestore.js";
    const db = getFirestore(app);

    const id ="<%=id%>"
    const snapshot = await getDoc(doc(db,`bbs/${id}`));
    if(snapshot.exists()){
        const bbs=snapshot.data();
        $("#title").html(bbs.title);
        $("#contents").html(bbs.contents);
        $("#email").html(bbs.email);
        $("#date").html(bbs.date);
        if(email==bbs.email) $(".buttons").show();
    }
    $(".delete").on("click", async function(){
        if(confirm("게시글을 삭제하시겠습니까")){
            await deleteDoc(doc(db,`bbs/${id}`));
            location.href="/bbs";
        }
    });

    $(".update").on("click", async function(){
        location.href=`/bbs/update/${id}`;
        
    });
</script>