<div>
  <h1 class="text-center my-5"><%=title%></h1>
  <div class="row mb-4">
      <form name="frm" class="col-6 col-md-4">
          <div class="input-group">
              <input name="query" class="form-control" value="자바">
              <button class="btn btn-primary">검색</button>
          </div>
      </form>
  </div>

  <div id="div_list" class="row"></div>
  <div class="text-center">
    <button id="prev" class="btn btn-primary">이전</button>
    <span id="page" class="mx-3">1</span>
    <button id="next" class="btn btn-primary">다음</button>
  </div>
  


  <!-- <div class="text-center">
      <button id="prev" class="btn btn-primary">이전</button>
      <span id="page" class="mx-3">1</span>
      <button id="next" class="btn btn-primary">다음</button>
  </div> -->

  <script id="temp_list" type="x-handlebars-template">
      {{#each documents}}
          <div class="col-6 col-md-3 col-lg-2 mb-3">
              <div class="card">
                  <div class="card-body">
                    <a href="/kakao/book/info?title={{title}}&thumbnail={{thumbnail}}&price={{price}}&authors={{authors}}&publisher={{publisher}}&isbn={{isbn}}&contents={{contents}}">
                      <img src="{{funThumbail thumbnail}}" width="100%">
                    </a>
                  </div>
                  <div class="card-footer" style="font-size:12px;">
                      <div class="ellipsis">{{title}}</div>
                      <div>{{price}}원</div>
                  </div>
              </div>
          </div>
      {{/each}}
  </script>
  <script>
    Handlebars.registerHelper("funThumbail", function(thumbnail){
      if(thumbnail) return thumbnail;
      else return "/images/no_image.png";
    })
  </script>
</div>

<script>
  let query="자바";
  let page=1;
  let size=12;

  getList();

  //이미지를 클릭한 경우
  $("#div_list").on("click", "img", function(){
    let info = $(this).attr("info");
    info = JSON.parse(info);
    location.href=`/kakao/book/info?title=${info.title}&thumbnail=${info.thumbnail}&isbn=${info.isbn}&price=${info.price}&authors=${info.authors}&publisher=${info.publisher}&contents=${info.contents}`;
  });
  $(frm).on("submit", function(e){
    e.preventDefault();
    query=$(frm.query).val();
    if(query=="") {
      alert("검색어를 입력하세요")
    }else{
      getList();
    }
  });

  
  //도서목록 함수
  $("#next").on("click", function(){
    page++;
    getList();
  })

  $("#prev").on("click", function(){
    page--;
    getList();
  })
  function getList(){
    $.ajax({
        type:"get",
        url:"https://dapi.kakao.com/v3/search/book?target=title",
        data: {query:query, size:size, page:page},
        headers:{
            "Authorization": "KakaoAK 7dc21d5852274d162cc3c15163505083"
        },
        success:function(data){
            console.log(data);
            const temp=Handlebars.compile($("#temp_list").html());
            $("#div_list").html(temp(data));


            const last  = Math.ceil(data.meta.pageable_count/size)
            $("#page").html(`${page}/${last}`);

            if(page==1) $("#prev").attr("disabled", true);
            else $("#prev").attr("disabled", false);

            if(data.meta.is_end) $("#next").attr("disabled", true);
            else $("#next").attr("disabled", false);
        }
    });
    }
</script>