<div class="my-5">
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="text-end">
        <button id="writer" class="btn btn-primary px-5 mb-5">글쓰기</button>
        <div id="div_bbs"></div>
        <div class="text-center">
            <button id="prev" class="btn btn-primary">이전</button>
            <span id="page" class="mx-3">1/3</span>
            <button id="next" class="btn btn-primary">다음</button>
        </div>
    </div>
</div>
<script id="temp_bbs" type="x-handlebars-template">
    <table class="table table-hover table-striped">
        <tr>
            <td>No.</td>
            <td>Title</td>
            <td>Writter</td>
            <td>Date</td>
        </td>
        {{#each .}}
            <tr>
                <td>{{seq}}</td>
                <td><a href="/bbs/{{id}}">{{title}}</a></td>
                <td>{{email}}</td>
                <td>{{date}}</td>
            </tr>
        {{/each}}
    </table>
</script>
<script type="module">
    import { app } from '/javascripts/config.js';
    import { getFirestore, collection, query, orderBy, onSnapshot } from "https://www.gstatic.com/firebasejs/11.0.0/firebase-firestore.js";
    const db = getFirestore(app);

const q = query(collection(db, "bbs"), orderBy("date", "desc"));
const rows = [];
onSnapshot(q, snapshot=>{
    let no = 1;
    // console.log(snapshot);
    snapshot.forEach(row=>{
        rows.push({no:no++, id:row.id, ...row.data()});
    });
    // const temp = Handlebars.compile($("#temp_bbs").html());
    // $("#div_bbs").html(temp(rows));
    getList();
});

const size = 5;
let page = 1;
function getList(){
    // 1page: no 1~5, 2page : no 6~10
    const start = (page - 1) * size + 1;
    const end = page * size;
    let data = [];

    rows.forEach(row=>{
        if(row.no >= start && row.no <= end) data.push({...row, seq:rows.length-row.no+1});
    });
    console.log(data);
    const temp = Handlebars.compile($("#temp_bbs").html());
    $("#div_bbs").html(temp(data));

    const last = Math.ceil(rows.length/size);
    $("#page").html(`${page} / ${last}`);

    if(page==1) $("#prev").attr("disabled", true);
    else $("#prev").attr("disabled", false);

    if(page==last) $("#next").attr("disabled", true);
    else $("#next").attr("disabled", false);
}

$("#next").on("click", function(){
    page++;
    getList();
});

$("#prev").on("click", function(){
    page--;
    getList();
});

$("#writer").on("click", function(){
    if(email){
        location.href="/bbs/insert"
    } else {
        sessionStorage.setItem("target", "/bbs/insert");
        location.href="/users/login"
    }
});
</script>