<div class="mt-5">
  <a href="/" class="me-3">Home</a>
  <a href="/kakao/book" class="me-3">도서검색</a>
  <a href="/kakao/local" class="me-3">지역검색</a>
  <a href="/kakao/blog" class="me-3">블로그검색</a>
  <hr>
</div>