<div>
    <h1 class="text-center mb-5"><%=title%></h1>
    <div id="div_list"></div>
    <script id="temp_list" type="x-handlebars-template">
        <table class="table">
            {{#each .}}
                <tr>
                    <td><img src="{{thumbnail}}" width="50px"></td>
                    <td>{{title}}<br>{{price}}<br>{{authors}}</td>
                </tr>
            {{/each}}
        </table>
    </script>
</div>

<script type="module">
    import { app } from '/javascripts/config.js';
    import { getDatabase, onValue, ref } from "https://www.gstatic.com/firebasejs/11.0.0/firebase-database.js";
    const db = getDatabase(app);

    onValue(ref(db, `cart/${uid}`), snapshot=>{
        let rows = [];
        snapshot.forEach(row => {
            rows.push({key:row.key, ...row.val()});
        });
        const temp=Handlebars.compile($("#temp_list").html());
        $("#div_list").html(temp(rows));
    });
</script>